<html>
<head>
    
</head>
<body>
<style type="text/css">
body{margin:0px;
 cursor: none; }
.canvas{
    width: 100%;
    height: 100%;
}

</style>
<div id = "container" ></div>
<script>
mobile = true;
</script>

<script src="/general/three.js"></script>
<script id="EraseShader" type="shader-code"> 
        
        void main() {
            gl_FragColor = vec4(0.2, 0.2, 0.2, 1.0);
    
            
        }
    </script>

<script id="AddDensityShader" type="shader-code">
        uniform vec2 res;//The width and height of our screen
        uniform sampler2D bufferTexture;//Our input texture
        uniform vec4 densitySource;
        uniform float densitySize;
        void main() {
            vec2 pixel = gl_FragCoord.xy / res.xy;
            gl_FragColor = texture2D( bufferTexture, pixel );
            
            float t = 1.0;
                
            float dist = distance(densitySource.zw,gl_FragCoord.xy);
            if(dist < densitySize){
                if(densitySource.y == 1.0){
                    if(gl_FragColor.r <=   1.0 - 0.5 * dist/densitySize/5.0){
                        gl_FragColor.r = 1.0 - 0.5 * dist/densitySize/5.0;
                        gl_FragColor.g =  0.2 *  dist/densitySize;
                        gl_FragColor.b = 0.2 *  dist/densitySize;

                        
                    }

                    
                   
                    
                    
                }
                else if(densitySource.y == 2.0){
                    if(gl_FragColor.g <=   1.0 - 0.5 * dist/densitySize/5.0){
                        gl_FragColor.g = 1.0 - 0.5 * dist/densitySize/5.0;
                        gl_FragColor.r =  0.2 *  dist/densitySize;
                        gl_FragColor.b = 0.2 *  dist/densitySize;

                        
                    }
                    
            
                    
                }
                else if(densitySource.y == 3.0){
                    if(gl_FragColor.b <=   1.0 - 0.5 * dist/densitySize/5.0){
                        gl_FragColor.b = 1.0 - 0.5 * dist/densitySize/5.0;
                        gl_FragColor.g =  0.2 *  dist/densitySize;
                        gl_FragColor.r = 0.2 *  dist/densitySize;

                        
                    }                 
                    
                }
            }

                   
                    
           
        }
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="/general/controls.js"></script>
<script src="/general/vrControls.js"></script>
<script src="/general/stereo.js"></script>
<script src="/general/jquery-3.2.1.min.js"></script>
<script src="/ballcollisions/game.js"></script>
<script src="/ballcollisions/player.js"></script>
<script src="/ballcollisions/floor.js"></script>
<script src="/ballcollisions/ball.js"></script>
<script src="/ballcollisions/scene.js"></script>
<script src="/ballcollisions/socketPhoneCollisions.js"></script>


</body> 
</html>