<!DOCTYPE HTML>
<html>
<style>
body{margin:0px;
 cursor: none; }
.canvas{
	width: 100%;
	height: 100%;
}
</style>

<body>

</body>
<script>
mobile = false;
</script>
<script src="/general/jquery-3.2.1.min.js"></script>



<script src="/general/socketio.js"></script>
<script src = "/general/three.js"></script>
<script type="text/javascript" src="/general/physi.js"></script>
<script src="/general/input.js"></script>

<script src="/general/controls.js"></script>
<script src="/general/vrControls.js"></script>
<script src = "/donuts/js/player2.js"></script>
<script src = "/donuts/Objects/donut.js"></script>
<script src = "/donuts/Objects/BeachBall.js"></script>
<script src = "/donuts/js/donutsWorld.js"></script>
<script src = "/donuts/js/donutsScene.js"></script>
<script src = "/donuts/Objects/crate.js"></script>
<script src = "/donuts/Objects/cloth.js"></script>
<script src = "/donuts/Objects/ClothStand.js"></script>
<script src = "/donuts/Objects/ClothRamp.js"></script>
<script src = "/general/oimo.js"></script>
<script src = "/general/cannon.js"></script>

<script src="/ballcollisions/socketComputerCollisions.js"></script>




</html>